```
         Copyright Rein Halbersma 2020-2021.
Distributed under the Boost Software License, Version 1.0.
   (See accompanying file LICENSE_1_0.txt or copy at
         http://www.boost.org/LICENSE_1_0.txt)
```

In [1]:
import scrape.cardmarket as cm

In [2]:
df = cm.search_products(searchString='Forest')

100%|██████████| 23/23 [01:13&lt;00:00,  3.20s/it]

In [3]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 690 entries, 0 to 689
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      687 non-null    object
 1   Name       690 non-null    object
 2   Rarity     648 non-null    object
 3   Number     504 non-null    object
 4   Available  690 non-null    int64
 5   From       690 non-null    object
dtypes: int64(1), object(5)
memory usage: 32.5+ KB

In [4]:
df.head()

                 Title                 Name Rarity Number  Available    From
0      Zendikar Rising         Forest (V.3)   Land    280       9757  0,02 €
1      Zendikar Rising         Forest (V.1)   Land    278      11142  0,02 €
2  Theros Beyond Death               Forest   Land    254      14998  0,02 €
3      Modern Horizons  Snow-Covered Forest   Land    254      22594  0,05 €
4      Zendikar Rising         Forest (V.2)   Land    279      12153  0,02 €

In [5]:
df.tail()

,Title,Name,Rarity,Number,Available,From
685,Magic the Gathering Products,Celestial Forest Life Pad,None,None,46,"3,49 €"
686,Kraken Wargames Playmats,Kraken Wargames Playmats: Forest Playmat,None,None,3,"17,99 €"
687,Unstable,"Unstable: ""Forest"" 9-Pocket Binder",None,None,61,"19,95 €"
688,Zendikar Rising: Extras,Art Series: Forest (V.4),Tip Card,A20,62,"1,00 €"
689,Zendikar Rising: Extras,Art Series: Forest (V.6),Tip Card,A21,59,"1,90 €"